@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply hover:border-b-white border-b-2 border-t-2 border-transparent transition-all ease-in-out p-1 hidden sm:inline-block;
}

.menu-item {
  @apply text-sm hover:bg-baseblue-100 px-2 py-1 hover:text-white;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  margin: 0;
}

.card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin: 0;
}

.card-description-full {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6;
  margin: 0;
}
